<h1 id='signedunder'>We, the singed under from the city of {{city}}, support the right of our children, however low their math grades may be, to study Computer science in highscool.</h1>

{{#signersByCity}}
<div class="names">

{{first}} {{last}}
{{age}},
</div>
<!-- <a href="signers/:{{city}}">{{city}}</a> -->

{{/signersByCity}}
