     <h4>(Feature non-functional)</h4>

<h1>You can edit your profile here</h1>
<br>
<form class="profileEdit" action="index.html" method="post">
    <div class="unit">
        <label for="first">First name:</label>
        <div class="current">{{age}}</div>
        <input class="currentinput" type="text" name="first" placeholder="First Name">
    </div>
    <div class="unit">
        <label for="last">Last name:</label>
        <div class="current">{{age}}</div>
        <input class="currentinput" type="text" name="last" placeholder="Last Name">
    </div>
    <div class="unit">
        <label for="email">Email address:</label>
        <div class="current">{{age}}</div>
        <input class="currentinput" type="text" name="email" placeholder="Please type your Email address">
    </div>
    <div class="unit">
        <label for="password">Password:</label>
        <div class="current">{{age}}</div>
        <input class="currentinput" type="password" name="password" placeholder="Please type password">
    </div>
    <div class="unit">
        <label for="first">Age:</label>
        <div class="current">{{age}}</div>
        <input class="currentinput" type="text" name="first" placeholder="Age">
    </div>
    <div class="unit">
        <label for="last">City:</label>
        <div class="current">{{age}}</div>
        <input class="currentinput" type="text" name="last" placeholder="city">

    </div>
    <input type="submit" value="Save" id="edit">

</form>
