<h1 id='signedunder'>We, the singed under, support the right of our children, however low their math grades may be, to study Computer science in highscool.</h1>

<div class="names">


{{#namesSigned}}
<div class="unit">

{{first}} {{last}}
{{age}},
<a href="/signers/{{city}}"> {{city}}</a>
</div>
{{/namesSigned}}
</div>
